<!-- start-breadcrumbs
-->
<div class="breadcrumbs">
  <div class="container">
    <div class="breadcrumbs-main">
      <ol class="breadcrumb">
        <li>
          <%= link_to 'Home', '/' %>
        </li>
        <li class="active">Studios</li>
      </ol>
    </div>
  </div>
</div>
<!-- end-breadcrumbs
-->
<% if @studios.nil? %>
  <h2>No Studios</h2>
<% else %>
  <!-- about-starts
  -->
  <div class="about">
    <div class="container">
      <div class="about-top grid-1">
        <div class="row text-center">
          <% @studios.each do |studio| %>
            <%= link_to studio_path(studio) do %>
              <div class="col-md-4 about-left">
                <figure class="effect-bubba">
                  <%= image_tag 'studios/' + studio.img, alt: "Studio", class: "img-responsive" %>
                  <figcaption>
                    <h2>
                      <%= studio.title %>
                    </h2>
                    <p>
                      <%= studio.description %>
                    </p>
                  </figcaption>
                </figure>
              </div>
            <% end %>
          <% end %>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
  <!-- about-end
  -->
<% end %>
